
	<div class="panel panel-primary">
	    <div class="panel-heading">
	        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Done! <span class="label label-default">{{dataCount}}</span></h3>
	    </div>
	    <div class="panel-body">
	        <div id="shieldui-grid1" class="sui-grid sui-grid-core">
	        	<div class="sui-gridheader">
	        	<table class="sui-table">
	        	<thead>
	        		<tr class="sui-columnheader">
	        			<th class="sui-headercell">
	        				<a class="sui-link" href="#">Title</a>
	        			</th>
	        			<th class="sui-headercell">
	        				<a class="sui-link" href="#">Description</a>
	        			</th>
	        			<th class="sui-headercell" style="width:60px">
	        				<a class="sui-link" href="#">Done</a>
	        			</th>
	        			<th class="sui-headercell" style="width:90px">
	        				<a class="sui-link" href="#">End Date</a>
	        			</th>
	        			<th class="sui-headercell" style="width:120px">
	        				<a class="sui-link" href="#">Created</a>
	        			</th>
	        			<th class="sui-headercell" style="width:40px">
	        				
	        			</th>
	        		</tr>
	        	</thead>
	        	<tbody class="sui-hide">
	        		<tr>
	        			<td></td>
	        			<td></td>
	        			<td></td>
	        			<td></td>
	        			<td></td>
	        			<td></td>
	        		</tr>
	        	</tbody>
	        </table>
	    	</div>
	    	<div class="sui-gridcontent">
	    		<table class="sui-table">
	    			<tbody>
	    				<tr class="sui-row" ng-repeat="task in data">
	    					<td class="sui-cell" ng-model="task.selected">
	    						<button ng-if="rows.slected[task.id].selected!=1" class="btn btn-transparent" ng-click="rowSelect(task)"><span class="glyphicon glyphicon-unchecked"></span></button>
								<button ng-if="rows.slected[task.id].selected==1" class="btn btn-transparent  text-danger" ng-click="rowUnselect(task)"><span class="glyphicon glyphicon-check"></span></button><span class="glyphicon glyphicon-th-list"></span> &nbsp; <button class="btn btn-transparent" ng-click="openModalEdit(task)">{{task.title}}</button></td>
	    					<td class="sui-cell"><button class="btn btn-transparent" ng-click="openModalEdit(task)">{{task.description}}</button></td>
	    					<td class="sui-cell text-center" style="width:60px">
	    						<button type="button" ng-if="task.done==0" class="btn btn-transparent" ng-click="setDone(task)"><span class="glyphicon glyphicon-unchecked"></span></button>
								<button type="button" ng-if="task.done==1" class="btn btn-transparent" ng-click="setDone(task)"><span class="glyphicon glyphicon-check"></span></button>
	    					</td>
	    					<td class="sui-cell" style="width:90px">{{task.enddate|fromNow}}</td>
	    					<td class="sui-cell" style="width:120px">{{task.created|date:'dd-MM-yyyy HH:mm'}}</td>
	    					<td class="sui-cell" style="width:40px"><button type="button" ng-click="erase(task)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></button></td>
	    				</tr>
	    				<tr>
	    					<td class="sui-cell" colspan="6">
	    						<button class="btn btn-transparent" ng-click="selectAll()">Select all</button> / <button class="btn btn-transparent" ng-click="unSelectAll()">Unselect all</button>
	    						<button class="btn btn-default btn-xs pull-right" ng-click="openModalExportTxt()"><span class="glyphicon glyphicon-list-alt"></span> export txt</button>
	    					</td>
	    				</tr>
	    			</tbody>
	    		</table>
	    </div>
	    
	</div>
	<div class="text-center">
		<ul class="pagination pagination-sm">
		    <li ng-class="(1==pg.page)?'disabled':''"><a ui-sref ng-click="setPrev()">&laquo;</a></li>
		    <li ng-class="(n==pg.page)?'active':''" ng-repeat="n in range(pagedItems)" ng-click="setPage(n)">
		        <a ui-sref ng-bind="n">1</a>
		    </li>
		    <li ng-class="(pg.last==pg.page)?'disabled':''"><a ui-sref ng-click="setNext()">&raquo;</a></li>
		</ul>
	</div>

